* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
  -webkit-border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(181, 181, 181);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 120, 120);
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 80px;
  background: #23272a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  overflow-y: auto;
  height: 100vh;
  flex-shrink: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  width: 50px;
  height: 50px;
  background: #2c2f33;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: relative;
  transition: background 0.3s;
  flex-shrink: 0;
  cursor: pointer;
}

.sidebar li:hover {
  background: #5865f2;
}

.sidebar li.active {
  background: #5865f2;
  border-radius: 25%;
}

.sidebar li.active::before {
  content: "";
  position: absolute;
  left: -10px;
  width: 5px;
  height: 80%;
  background: #ccc;
  border-radius: 5px;
}

/* MAIN contentContainer */
.main-contentContainer {
  flex-grow: 1;
  background: #36393f;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

/* TOP MENU */
.top-menu {
  height: 50px;
  background: #2c2f33;
  display: flex;
  align-items: center;
  padding: 0 20px;
  flex-shrink: 0;
}

.top-menu ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.top-menu li {
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
}

.top-menu li:hover {
  color: #5865f2;
}

/* contentContainer SECTIONS */
.contentContainer {
  display: none;
  padding: 20px;
}

.contentContainer.active {
  display: block;
}
